html, body, #root, .App {
  height: 100%
}

#root {
  font-family: 'Roboto', sans-serif;
  background-color: #333333;
}

.App {
  padding: 50px 0;
  position: relative;
  text-align: center;
}

.content {
  margin: 0 auto;
  width: 424px;
}

#btn-word {
  background-color: #333;
  border-color: #e65000;
  border-radius: 30px;
  font-size: 30px;
  height: 100px;
  margin: 20px 0;
  width: 100%;
}

#btn-word:focus {
  border-color: #e65000;
  box-shadow: none;
}

#btn-word:hover, #btn-word:active {
  background-color: #e65000;
  border-color: #e65000;
}

#btn-word.empty {
  background-color: #e65000;
}

#btn-word.empty:hover, 
#btn-word.empty:active {
  background-color: #333;
  border-color: #e65000;
}

.progress {
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 0 0;
}

.progress-bar {
  background-color: #e65000;
  border-radius: 10px;
  width: 0%;
}

.progress-bar.running {
  width: 100%;
}

.progress-time {
  color: #e65000;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  margin: 5px 0 30px;
}

.control {
  color: #e65000;
  font-size: 50px;
}

.control .playpause {
  color: #fff;
  cursor: pointer;
  font-size: 80px;
  margin: 0 50px;
}

.control .btn-lang {
  border: solid 4px #e65000;
  border-radius: 50%;
  font-size: 20px;
  padding: 5px;
}

